*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    width:100%;
    background-color: wheat;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.card{
    background-color: cadetblue;
    height:400px;
    width:600px;
    border-radius: 10px;
    padding:20px;
    transition:.4s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
.btn{
    display:flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.btn button{
    border:none;
    height: 30px;
    width:100px;
    padding:5px;
    border-radius: 5px;
    transition:.4s;
    margin-bottom: 50px;
}
.btn button:hover{
    background-color: chocolate;
    color:white;
    font-weight: bold;
}
.input-field{
    display:flex;
    justify-content: space-between;
}
.input-field label{
    font-size: 1.1rem;
}
.input-field input{
    width:50%;
    border-radius: 5px;
    padding:3px;
}
p{
    text-align: center;
    font-size: 1.2rem;
    margin:15px auto;
}
.p3{
    font-size: 2rem;
    margin-top: 30px;
    color:black;
}
@media screen and (max-width:990px) {
    .card{
        width:80%;
    }
}
@media screen and (max-width:600px) {
    .card{
        width:90%;
    }
}